
<app-menu></app-menu>

<router-outlet></router-outlet>
<!--
<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>

</div>

<button (click)="mostrarNombre()">
  Cambiar nombre
</button>

<button pButton type="button"
        label="Click"
        class="p-button-help"
        icon="pi pi-play"
        iconPos="right"></button>

<p-card [header]=" nombre | titlecase"
        subheader="Subheader">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
</p-card> -->
